@import url('./colors-pallet.css');

.container {
    width: 80%;
    padding: 0 1em;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all var(--transition-time);
}

.container>nav {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px 1px var(--primary-100);

    padding: 3em;
    border-radius: 10px;
    background-color: var(--bg-200);
}

.container p {
    margin: 0;
    padding: 0;
    color: var(--primary-100);
}

.ptop {
    font-size: var(--txtmedium);
    font-weight: bold;
}
.ptop>a{
    color: var(--text-100);
    text-transform: uppercase;
}

.middle {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: auto;
    column-gap: 20px;
    font-size: 70px;
    line-height:55px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 5;
}
.picons svg {
    font-size: 0.7em;
    transition: all var(--transition-time);
    color: var(--text-100);
    margin-right: 3px;
}
.picons svg:hover {
    cursor: pointer;
    color: var(--primary-100);
}

.pbottom {
    font-size: 120px;
    line-height: 0.8;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    z-index: -1;
}
@media (max-width: 650px) {
    .container {
        height: 60vh;
    }

    .ptop {
        font-size: var(--txtmedium);
        line-height: var(--txtmedium);
    }

    .middle {
        font-size: 55px !important;
        line-height: 45px;
    }
    .picons{
        z-index: 99;
    }
    .picons svg {
        font-size: 0.7em !important;
    }

    .pbottom {
        font-size: 90px !important;
        line-height: 0.8;
    }

}
@media (max-width: 490px) {
    .container {
        height: 60vh;
    }

    .ptop {
        font-size: var(--txtsmall);
        line-height: var(--txtsmall);
    }

    .middle {
        font-size: 35px !important;
        line-height: 25px;
    }

    .picons svg {
        font-size: 0.7em !important;
    }

    .pbottom {
        font-size: 60px !important;
        line-height: 0.8;
    }
}
@media(max-width: 520px) {
    .container>nav{
        padding: 3em 1em !important;
    }
}