@import url('./colors-pallet.css');

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-200);
    box-shadow:1px 1px 1px var(--primary-100);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1em;
    font-size: var(--txtmedium);
    margin: 0;
    padding: 0;
}
.left>ul>li>a{
    text-decoration: none;
    color: var(--primary-100);
    transition: all var(--transition-time);
    padding: 1px;
}
.left>ul>li>a:hover{
    color: var(--text-100);
}