.dot-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -5;
}

.dot-grid__wrap {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -5;
}

.dot-grid__canvas {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  pointer-events: none;
}
