body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}
#svg-box {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  z-index: -5;
}
svg {
  height: 100%;
}
